name: Continuous integration

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  Test-Linux:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
          os: [ubuntu-22.04, ubuntu-24.04]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install libcap2-bin lcov autoconf automake libtool

      - name: Build
        run: |
          ci/build.sh